/* General container */
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Left: Form container */
  .form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .form-subtitle {
    color: #666;
    margin-bottom: 20px;
  }
  
  .social-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .social-icon {
    height: 20px;
    margin-right: 8px;
  }
  
  .divider {
    text-align: center;
    color: #aaa;
    margin: 20px 0;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  
  .forgot-password {
    position: absolute;
    top:10px;
    right: 0px;
    font-size: 12px;
    color: #d9534f;
    text-decoration: none;
    transform: translateY(-50%);
  }
  
  .remember-password {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2px;
  }
  
  .remember-password input {
    
    width: 10px;
    margin-left: 0;
    
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  #remember{
    height: 20px;
  }
  .submit-btn {
    width: 104%;
    padding: 10px;
    background-color: rgb(60,48,255,1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    color: #666;
  }
  
  .signup-link a {
    color: #6c63ff;
    text-decoration: none;
  }
  
  /* Right: Carousel container */
  .carousel-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    align-items: center;
    background-color:  rgba(60,48,255,0.6);;
  }
  
  .carousel {
    position: relative;
    width: 80%;
    text-align: center;
  }
  
  .carousel-item {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-item.active {
    display: flex;
  }
  
  .carousel-image-placeholder {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .carousel-image-placeholder img{
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
 
  
  .carousel-controls button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .form-container,
    .carousel-container {
      flex: none;
      width: 100%;
      padding: 20px;
    }
  }
  